Programmi C++/.DS_Store
*.DS_Store*
.DS_Store
.DS_Store
.DS_Store
.DS_Store
.DS_Store
.DS_Store
*.exe

*.vscode*
.vscode/c_cpp_properties.json
.vscode/launch.json
.vscode/launch.json
.vscode/settings.json
.vscode/launch.json
.vscode/launch.json
.vscode/settings.json
.vscode/launch.json
.vscode/settings.json
