Programmi C++/.DS_Store
*.DS_Store*
.DS_Store
.vscode/c_cpp_properties.json
.vscode/c_cpp_properties.json
.vscode/launch.json
.vscode/settings.json
*.class*
.DS_Store
Progetto01/TestApp/bin/data/.LCKSomma.java~
