
:root {
    --primary: #009688;
    --darkPrimary: #00796b;
    --lightPrimary: #b2dfdb;
    --accent: #ff5252;
    --background: #ffffff;
    --primaryText: #000000;
    --secondaryText: #757575;
    --divider: #bdbdbd;
  }